@model IEnumerable<BTL_QLNS3.Models.DUAN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name_Da)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sonv_Da)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mota_Da)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_Da)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sonv_Da)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mota_Da)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Da }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Da }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Da })
        </td>
    </tr>
}

</table>
